In [355]:
#import libraries
import pandas as pd
import numpy as np

In [356]:
#Add columns to the csv file
column_names = [
    'age', 'workclass', 'fnlwgt', 'education', 'education-num',
    'marital-status', 'occupation', 'relationship', 'race', 'sex',
    'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'salary'
]
df = pd.read_csv(r'D:\adult.data', header=None, names=column_names)
df.to_csv('adult_with_headers.csv', index=False)

In [357]:
# Check data types to decide how to clean each column 
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [358]:
# Check the unique values in each column to decide how to clean each column 
for col in df.columns :
    print(df[col].unique())

[39 50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68
 66 51 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86
 87]
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']
[ 77516  83311 215646 ...  34066  84661 257302]
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
[' Male' ' Female']
[ 2174     0 14084  5178  5013  2407 14344 15024  7688 34095  4064  4386
  7298  1409  3674  1055  3464  2050  2176   594 20051  6849  4101  1111
  8614  3411  2597 25236  4650  9386  2463  3103 10605  2964  3325  2580
  3471  4865 99999  6514  1471  2329  2105  2885 25124 10520  2202  2961
 27828  6767  2228  1506 13550  2635  5556  4787  3781  3137  3818  3942
   914   401  2829  2977  4934  2062  2354  5455 15020  1424  3273 22040
  4416  3908 10566   991  4931  1086  7430  6497   114  7896  2346  3418
  3432  2907  1151  2414  2290 15831 41310  4508  2538  3456  6418  1848
  3887  5721  9562  1455  2036  1831 11678  2936  2993  7443  6360  1797
  1173  4687  6723  2009  6097  2653  1639 18481  7978  2387  5060]
[   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876
 1340 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653
 2392 1504 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547
 2174 2205 1726 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004
 2231 1844  810 2824 2559 2057 1974  974 2149 1825 1735 1258 2129 2603
 2282  323 4356 2246 1617 1648 2489 3770 1755 3683 2267 2080 2457  155
 3900 2201 1944 2467 2163 2754 2472 1411]
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]
[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']
[' <=50K' ' >50K']

In [369]:
# Clean text columns by removing leading/trailing spaces
# and replacing '?' with NaN to mark missing values
for col in df.columns :
    if df[col].dtypes=="object":
      df[col]=df[col].str.strip().replace('?',np.nan)

In [370]:
# Calculate the number of people in each race category
# Returns a series with race names as index and counts as values
def count_race_distribution(df, col):
    a = df[col].value_counts()
    return a
print(count_race_distribution(df, 'race'))

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [371]:
# Compute the average age of males in the dataset
# Filters rows where 'sex' is 'Male' and calculates the mean of the 'age' column
def avg_age(df, col1, col2):
    a = df.loc[df[col1] == 'Male', col2].mean()
    return round(a, 2)
print("The average age of males:", avg_age(df, 'sex', 'age'))

The average age of males: 39.43

In [372]:
# Calculate the percentage of people with a Bachelor's degree
# Filters the dataset for rows where 'education' is 'Bachelors'
# and computes the proportion relative to the total number of records
def count_bachelors(df, col):
    a = (df[df[col] == "Bachelors"].shape[0] * 100) / len(df)
    return round(a, 1)

print("Percentage of people with a Bachelor's degree:", count_bachelors(df, "education"), "%")

Percentage of people with a Bachelor's degree: 16.4 %

In [373]:
# Calculate the percentage of people with advanced education earning more than 50K
# Filters rows where 'education' is Bachelors, Masters, or Doctorate
# Then computes the proportion of these individuals whose salary is '>50K' relative to the total dataset
def percentage_high_earners_advanced_edu(df, col1, col2):
    a = df.loc[df[col1].isin(['Bachelors', 'Masters', 'Doctorate']), [col1, col2]]
    b = (a[a[col2] == '>50K'].shape[0] * 100) / len(df)
    return round(b, 1)

print("Percentage of people with advanced education earning >50K:", 
      percentage_high_earners_advanced_edu(df, 'education', 'salary'), "%")

Percentage of people with advanced education earning >50K: 10.7 %

In [364]:
# Calculate the percentage of people without advanced education 
# (not Bachelors, Masters, or Doctorate) who earn more than 50K
def  percentage_without_advanced_over_50k(df,col1,col2):
   a=df.loc[~df[col1].isin(["Masters", "Bachelors","Doctorate"]),[col1,col2]]
   b=int(a[a[col2]=='>50K'].shape[0])*100/len(df)
   return round(b,1)
print("The percentage of people without advanced education make more than 50K:",percentage_without_advanced_over_50k(df,'education','salary'),"%")

The percentage of people without advanced education make more than 50K: 13.4 %

In [374]:
# Find the minimum number of hours worked per week in the dataset
# Returns the smallest value in the 'hours-per-week' column
def min_hours_per_week(df, col):
    a = df[col].min()
    return a

print("Minimum number of hours a person works per week:", min_hours_per_week(df, 'hours-per-week'), "hours")

Minimum number of hours a person works per week: 1 hours

In [366]:
# Calculate the percentage of people who work the minimum number of hours per week
# and earn more than 50K
def calculate_min_workers_high_income_percentage(df,col1,col2):
  a=df.loc[(df[col1]==df[col1].min())&(df[col2]=='>50K'),[col1,col2]]
  b= float(a.shape[0]*100/len(df))
  return round(b,4)
print("The percentage of the people who work the minimum number of hours per week and have a salary of more than 50K is ",
      calculate_min_workers_high_income_percentage(df,'hours-per-week','salary'),"%")

The percentage of the people who work the minimum number of hours per week and have a salary of more than 50K is  0.0061 %

In [367]:
# This function calculates the percentage of people earning more than 50K
# in each country and returns the country with the highest percentage
# along with that percentage
def country_with_highest_high_income_percentage(df,col1,col2):
   high_salary_counts = df[df[col1] == '>50K'][col2].value_counts()
   total_counts = df[col2].value_counts()
   percentage = (high_salary_counts / total_counts * 100).sort_values(ascending=False)
   top_country = percentage.idxmax()
   top_percentage = percentage.max()
   return f"Country: {top_country}, Percentage: {top_percentage:.2f} %"
print(country_with_highest_high_income_percentage(df,"salary","native-country"))

Country: Iran, Percentage: 41.86 %

In [368]:
# Finds the most popular occupation among >50K earners in India.
def most_popular_occupation_high_income_india(df,col1,col2,col3):
    a=df.loc[(df[col1]==">50K")&(df[col2]=="India"),[col3]].value_counts().sort_values(ascending=False)
    b=a.idxmax()[0]
    return f"Occupation: {b}"
print(most_popular_occupation_high_income_india(df,"salary","native-country","occupation"))

Occupation: Prof-specialty